In [3]:
import pandas as pd
pd.set_option("display.max_columns", 100)
from pathlib import Path
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

CSV_DATA = Path().cwd().parent.parent / "data/1_transformed"

In [ ]:
df = pd.read_csv(CSV_DATA/'summary/ride_summary.csv')
df['start_date'] = pd.to_datetime(df['start_date'])
df['start_time'] = pd.to_datetime(df['start_time'])
df['end_time'] = pd.to_datetime(df['end_time'])

NameError: name 'df' is not defined

In [5]:
df_summary.head()

,ride_id,start_date,start_time,end_time,biker_weight_lbs,bike_weight,bag_weight,avg_speed,avg_cruising_speed,total_ride_time_sec,total_moving_time_sec,total_distance_mi,total_ascent_ft,total_descent_ft,avg_heart_rate,avg_power,avg_cadence,avg_ambient_temp_F
0,0x5b086853,2018-05-25,19:47:31,20:27:31,220,25,5,13.720594,14.267175,2401.0,1736.0,6.991217,220.1551,237.8725,NaN,118.773678,NaN,NaN
1,0x5b3c1e5a,2018-07-04,01:09:46,01:42:05,220,25,5,13.615799,14.215438,1940.0,1737.0,6.994353,152.5665,180.1269,NaN,107.400150,NaN,NaN
2,0x5ccb413c,2019-05-02,19:13:00,19:53:00,220,25,5,13.784195,14.574504,2401.0,2143.0,8.865922,300.5396,300.5396,NaN,124.479375,NaN,NaN
3,0x5cccc63c,2019-05-03,22:52:44,23:53:54,220,25,5,11.228317,12.081964,3671.0,2725.0,9.516836,333.3496,280.1974,NaN,86.208290,NaN,NaN
4,0x5cdbff9c,2019-05-15,12:01:32,12:37:36,220,25,5,14.256866,14.701154,2165.0,1942.0,8.029630,255.2618,211.2964,NaN,132.845473,NaN,NaN