In [ ]:
import pandas as pd
from pathlib import Path
import numpy as np
from haversine import haversine
CSV_DATA = Path().cwd().parent.parent / "data/0_extracted/processed/"

In [2]:
def read_ride_csv(file_path:str, time_columns:list[str]=None):
    if time_columns is None: time_columns=['time']
    # Read in the CSV file for the Ride
    df = pd.read_csv(file_path)
    
    # guarantee the timestamps are datetime objects
    for time_col in time_columns:
        df[time_col] = pd.to_datetime(df[time_col])

    return df

In [ ]:
jan_ride_path = CSV_DATA / "January_no_sensor.csv"
apr_ride_path = CSV_DATA / "April_one_sensor.csv"
may_ride_path = CSV_DATA / "May_two_sensor.csv"
df_jan = read_ride_csv(jan_ride_path)
df_apr = read_ride_csv(apr_ride_path)
df_may = read_ride_csv(may_ride_path)

In [ ]:
drop_columns = ['ride_id', 'track_id','segment_id']
df_jan = df_jan.drop(columns=drop_columns)
df_apr = df_apr.drop(columns=drop_columns)
df_may = df_may.drop(columns=drop_columns)
add_null_columns = ['atemp', 'hr'] # if these columns don't already exist add them as np.null

for df in [df_jan, df_apr, df_may]:
    for col in add_null_columns:
        if col not in df.columns:
            df[col] = np.nan

In [7]:
df_jan.head(5)

                       time  elevation   latitude  longitude
0 2025-01-04 21:25:24+00:00      147.5  39.123282 -84.377795
1 2025-01-04 21:25:25+00:00      147.5  39.123274 -84.377804
2 2025-01-04 21:25:26+00:00      147.5  39.123267 -84.377812
3 2025-01-04 21:25:27+00:00      147.5  39.123259 -84.377821
4 2025-01-04 21:25:28+00:00      147.5  39.123251 -84.377829

In [8]:
df_apr.head(5)

                       time  elevation   latitude  longitude  atemp  hr
0 2025-04-12 17:21:13+00:00      147.4  39.139397 -84.341631     29  93
1 2025-04-12 17:21:14+00:00      147.4  39.139397 -84.341631     29  91
2 2025-04-12 17:21:15+00:00      147.4  39.139397 -84.341631     29  94
3 2025-04-12 17:21:16+00:00      147.4  39.139397 -84.341631     29  90
4 2025-04-12 17:21:20+00:00      147.4  39.139397 -84.341631     29  87